<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-gamepad mr-2" style="color:#76b900"></i>GFN Games</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fas fa-list mr-1"></i>Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/offers"><i class="fas fa-tag mr-1"></i>Steam Deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info"><i class="fas fa-info-circle mr-1"></i>Info</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
